<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace=
      "fragments/header :: header">
</head>

<body class="bg-light">

<div th:replace=
     "fragments/navbar :: navbar">
</div>

<div class="container mt-5">

    <div class="row">

        <div class="col-md-4">

            <div class="card shadow
                        text-center
                        p-4">

                <h2 th:text="${attempted}">
                </h2>

                <p>
                    Attempted Exams
                </p>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow
                        text-center
                        p-4">

                <h2 class="text-success"
                    th:text="${passed}">
                </h2>

                <p>
                    Passed Exams
                </p>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow
                        text-center
                        p-4">

                <h2 class="text-danger"
                    th:text="${failed}">
                </h2>

                <p>
                    Failed Exams
                </p>

            </div>

        </div>

    </div>

</div>

</body>
</html>